.feed-card {
  width: 400px;
  max-height: 700px;
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  .feed {
    width: 400px;
    max-height: 450px;
    object-fit: cover;
  }
  & .banner-btn {
    width: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5px;
    li {
      width: 7px;
      height: 7px;
      background-color: #aaa;
      border-radius: 50%;
      cursor: pointer;
      &:first-child {
        background-color: #0095f6;
      }
    }
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    & div:first-child {
      width: 70px;
      display: flex;
      justify-content: space-between;
    }
  }
  .inform {
    height: 120px;
    padding: 10px;
    font-size: 14px;
    & li {
      margin-bottom: 10px;
      .more {
        color: #aaa;
        margin-left: 10px;
        cursor: pointer;
      }
      &:nth-child(3) {
        color: rgb(150, 150, 150);
        cursor: pointer;
      }
      &:last-child {
        color: rgb(150, 150, 150);
        font-size: 12px;
      }
    }
  }
  .comment-box {
    display: flex;
    height: 50px;
    border-top: 1px solid rgb(223, 223, 223);
    padding: 12px;
    justify-content: space-between;
    .comment {
      display: flex;
      .smile {
        margin-right: 5px;
      }
    }
    .upload {
      color: #80c3f0;
      background-color: transparent;
    }
  }
}
