body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* margin: 0px; */
}

/* Login */
.Login {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login .login-input {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 396px;;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.Login .login-input .logo{
    width: 175px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Login .login-input input {
    width: 258px;
    height: 36px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 7px;
}
.Login .login-input input::placeholder {
    font-size: 12px;
}
.Login .login-input .input-invalid {
    border: 1px solid red;
}

.Login .login-input button {
    width: 258px;
    height: 36px;
    /* background-color: #0095f6; */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.Login .login-input .btn-activate {
    background-color: #0095f6;
}
.Login .login-input .btn-disabled {
    background-color: #91d4ff;
}

.Login .login-input .line {
    border-bottom: 1px solid #dbdbdb;
    width: 258px;
    position: relative;
    left: 43px;
    top: 7px;
}
.Login .login-input span {
    background-color: white;
    width: 70px;
    color: gray;
    font-size: 14px;
    display: inline-block;;
    position: relative;
    z-index: 10;
}

.Login .login-sns {
    color: #385085;
    font-weight: bold;
    font-size: 14px;

}
.Login .login-sns img{
    width: 16px;
    height: 16px;
    margin-right:8px;
}
.Login .login-sns .find-pwd {
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}

.Login .login-signup {
    background-color: white;
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 63px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login .login-signup span {
    color: #0095f6;
    font-weight: bold;
}

.Login .login-download {
    font-size: 14px;
}
.Login .login-download p{
    margin: 10px;;
}
.Login .login-download img {
    width: 136px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Header */
.Header {
    background-color: white;
    width: 100vw;
    height: 60px;
    border: 1px solid #dbdbdb;
    padding: 10px 20px 10px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position:fixed;
    top: 0;
    left: 0;
}

.Header .btn-wrap {
    overflow: auto;
    /* white-space: nowrap; */
    /* width: 100%; */
    min-width: 260px;
}
.Header .btn-wrap button {
    margin: 10px;
}

.Header .btn-logo {
	background: url('../public/assets/backgroundImage.png') no-repeat -94px -72px;
	width: 103px;
	height: 29px;
}
.Header .btn-home {
	background: url('../public/assets/backgroundImage.png') no-repeat -78px -260px;
	width: 24px;
	height: 24px;
}
.Header .btn-msg {
    background: url('../public/assets/backgroundImage.png') no-repeat -156px -235px;
	width: 24px;
	height: 21px;
}
.Header .btn-upload {
	background: url('../public/assets/backgroundImage.png') 
    no-repeat -297px -234px;
	width: 23px;
	height: 23px;
}
.Header .btn-explore {
	background: url('../public/assets/backgroundImage.png') no-repeat -130px -286px;
	width: 23px;
	height: 23px;
}
.Header .btn-like {
	background: url('../public/assets/backgroundImage.png') no-repeat -52px -261px;
	width: 24px;
	height: 22px;
}
.Header .btn-profile {
	background: url('../public/assets/backgroundImage.png')no-repeat -272px -208px;
	width: 22px;
	height: 24px;
    border-radius: 50%;
    background-color: #fafafa;
}

.Header .search {
    background-color: #efefef;
    border-radius: 5px;
    /* box-sizing: border-box; */
    width: 300px;
    height: 36px;
    padding: 5px 15px 5px 15px;

    display: flex;
    align-items: center;
}
.Header .search img {
    width: 15px;
}
.Header .search input {
    background-color: #efefef;
    padding-left: 5px;
}
.Header .search input::placeholder {
    color: #919191;
}
@media (max-width:640px) {
    .Header .search {
        display: none;
    }
}